/*GLOBAL*/
@font-face{
    font-family: "Abril Fatface";
    src: url(https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap
    );
}
@font-face{
    font-family: 'Quicksand', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Quicksand&display=swap)
}

body{
    font-family: 'Quicksand', sans-serif;
}

/*HEADER MENU FIXE*/
header,html,body,section{
    height: 100%;
    width: 100%;
    padding: 0;
    margin:0;
}
header{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 10%;
}
#menu{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color:  #048b9a;
    position: fixed;
}
#menu p{
    margin-left: 10px;
   padding-right: 20px;
   text-align: center;
   font-size: 25px;
   border-right: 2px solid white;
   color:white;
}
#menu nav {
    width: 60%;
    height: 100%;
    display:flex;
}
#menu  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:100%;
    height:100%;
    margin:auto;
}
#menu  nav ul li {
    list-style-type: none;  
}
#menu  nav ul li a{
    text-decoration : none;
    color:white;
    font-size: 22px;
}
#menu  nav ul li a:hover {
    color:#FFC100;
}
.template{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    height: 100%;
}
.logo{
    height: 100px;
    width:auto;
}


/*SECTION */
section{
    height:275%;
}
.titre{
    background-color:#FFC100;
    display:flex;
    height: 10%;
}
.titre h1{
    text-align: center;
    margin: auto;
    color:white;
    font-family: "Abril Fatface";
    font-size: 2.3em;
    font-weight:normal;
}
.texte{
    height: 85%;
}
.texte img{
    width:270px;
    height: auto;
    float: right;
    margin: 10px 20px;
}
.texte h2{
    font-family: "Abril Fatface";
    font-size: 2em;
    font-weight: normal;
    margin: 20px 25px;
    color: #048b9a;
}
.texte p{
    font-size: 1.2em;
    color: rgb(66, 62, 62);
    margin: 8px 10px;
}

/*FOOTER BICOLORE*/
footer{
    height:20%;
    width:100%;
    display:flex;
    flex-direction: column;
}
.yellow{
    height: 25%;
    background-color: #FFC100;
    border-top: 1px solid rgb(66, 62, 62);
}
.copy{
    height: 75%;
    background-color: rgb(66, 62, 62);
    display:flex;
}
.copy p{
    margin:auto;
    color:white;
    font-size: 1.2em;
}

/*MEDIA VERSION MOBILE*/
@media (max-width:600px){
    .titre h1{
        font-size: 1.5em;
    }
    .texte img{
        width:150px;
    }
    .template{
        width:15%;
        justify-content: center;
    }
    #menu nav ul{
        width:100%;
    }
    .logo{
        height: 99%;
    }
    #menu p{
        display:none;
    }
    #menu nav{
        width:85%;
    }
    .texte h2{
        font-size: 1.25em;
    }
    .texte p{
        font-size: 0.9em;
    }
    section{
        height: 510%;
    }
    .titre{
        height:5%;
    }
    #menu  nav ul li a, .copy p{
        font-size: 0.8em;
    }
}